body {
    box-sizing: border-box;
}

nav .navbar-brand img {
    max-width: 200px;
    aspect-ratio: 4;
}

.footer {
    margin-top: 5rem;
    position: relative;
}

.footer-bg {
    background-color: #09182e;
    z-index: 1;
    position: absolute;
    height: 100%;
}

.footer .navbar-nav {
    z-index: 2;
}

.footer .nav-link {
    color: white;
}

.footer a {
    color: white;
}

.footer-copyright {
    padding-top: 1rem;
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    background-color: gray;
}
