.content-row {
    display: flex;
    justify-content: center;
    min-height: 20px;
    position: relative;
}

.post-content {
    position: relative;
}

.post-image {
    position: relative;
    display: inline-block;
}

.post-text {
    width: max-content;
}

.post-text .dragbar {
    width: 550px;
}

.dragbarb img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1255px) {
    .dragbar {
        width: 100% !important;
    }

    .ctextarea {
        height: max-content !important;
    }
}
