.content-row {
    display: flex;
    justify-content: center;
    min-height: 20px;
    border: rgba(17, 0, 250, 0.25) solid 1px;
    position: relative;
}

.content-row:hover {
    border: blue solid 1px;
}

.post-content {
    position: relative;
}

.post-image {
    position: relative;
    display: inline-block;
}

.post-image img {
    border: 1px solid #ccc;
}

.post-image .img-size-controller {
    width: 150px;
    margin-right: 5px;
    display: none;
    position: absolute;
}

.post-text .ctextarea {
    width: 100%;
    border: rgba(17, 0, 250, 0.25) solid 1px;
}

.post-text .ctextarea:hover {
    border: rgba(blue) solid 1px;
}

.post-text .ctextarea:active {
    border: rgba(blue) solid 1px;
}

.post-image .img-size-controller input {
    width: 50%;
    display: inline-block;
}

.post-content:hover>.row-element-controller,
.post-content:focus-within>.row-element-controller {
    display: flex;
}

.post-element-controller {
    display: none;
    width: max-content;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    z-index: 50;
    flex-direction: column;
    left: 0;
    bottom: -170px;
}

.post-image .post-element-controller {
    top: 30px
}


.post-image .row-element-controller {
    display: none;
    width: max-content;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    z-index: 50;
    flex-direction: column;
    top: -80px;
}

.post-text .row-element-controller {
    display: none;
    width: max-content;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    z-index: 50;
    flex-direction: column;
    top: -110px;
}

.row-element-controller button,
.post-element-controller button {
    margin: 3px;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.row-element-controller button:hover,
.post-element-controller button:hover {
    background-color: #f0f0f0;
}

.font-size-controller {
    width: 50px;
    overflow: none;
}
